<fieldset ng-controller="shell" class="container withborder">
    <legend class="withborder">
        Shell Controller
    </legend>
    <div class="starter-template">
        <h2>{{title1}}</h2>
    </div>
    <input type="text" data-ng-model="text" />
    <h3>This is your text:
        <b>{{text}}</b>
    </h3>
    <fieldset data-ng-controller="controller1" class="withborder">
        <legend class="withborder">controller1</legend>
        <input type="text" data-ng-model="text" />
        <h3>This is your text:
            <b>{{text}}</b>
        </h3>
    </fieldset>
    <fieldset data-ng-controller="controller2" class="withborder">
        <legend class="withborder">controller2</legend>
        <input type="text" data-ng-model="text" />
        <h3>This is your text:
            <b>{{text}}</b>
        </h3>
    </fieldset>
</fieldset>
<!-- /.container -->
