<div data-my-centered-frame>
    <h3>
        Widget: 'my-label-input-using-compile'</h3>
    <p>Introducing:
        <ul>
            <li>compile()</li>
            <li>attrs</li>
        </ul>
    </p>

    <form role="form">
        <div data-my-label-input-using-compile id="exampleInputEmail1" type="email" placeholder="Enter email" ng-model="data.email"></div>
        <div data-my-label-input-using-compile id="exampleInputPassword2" type="password" placeholder="Password" ng-model="data.password"></div>
        <button type="submit" class="btn btn-default" ng-click="submit(data)">Submit</button>
    </form>

</div>